<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active mt-2" aria-current="page"><%= breadcrumbs.render(format: :inline)%> / <%= I18n.t(params[:action]) %></li>
  </ol>
</nav>
