<div class=" h-100 d-flex flex-colunm justify-content-between">
  <div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag 'logo.png', class:"d-block mx-lg-auto img-fluid rotate", loading:"lazy" %>
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">DADOS SOBRE A  COVID19</h1>
          <p class="lead">O coronavírus (COVID-19) é uma doença infecciosa causada pelo vírus SARS-CoV-2. Proteja-se !</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <%= link_to "Iniciar", confirmados_path, class:"btn btn-primary btn-lg px-4 me-md-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top ">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="text-muted">&copy; 2021 Company, <a href="https://github.com/mathdroid" target="_blank"><i class="fa fa-github" aria-hidden="true"> Mathdroid  </i></a></span>
      </div>
    </footer>
  </div>
</div>



